<div id='nav-menu' class=''>
  <ul id='link-list'>

    <li class='brand-tile'>
      <div id='brand-name'>
        <a href='http://www.bluebirdsalon.com/' target='_blank'>LLUMINAIRE Salon</a>
      </div>           
    </li>

    <!--     <li class='nav-link'>
      <%= link_to 'test', data:{'display-title'=>'Dashboard'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>Upcoming Services</span><br>
      <% end %>
    </li> -->

    <li class='nav-link'>
      <%= link_to dashboard_path, data:{'display-title'=>'Dashboard'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>dashboard</span>
      <% end %>
      <ul class='sub-links dashboard'>  
        <li>
          <%= link_to "dashboard", dashboard_path, data:{'display-title'=>'Dashboard'} %>
        </li>
      </ul>
    </li>

    <li class='nav-link has-sub'>
      <div class='menu-link'>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>appointments</span>
      </div>
      <ul class='sub-links appointments'>
        <li>
          <span class="title">appointments</span>
        </li>
        <li>
          <%= link_to("SLO Location", slo_path, data:{'display-title'=>'Appointments > SLO'}) %>
        </li>
        <li>
          <%= link_to("Atascadero Location", atascadero_path, data:{'display-title'=>'Appointments > Atascadero'}) %>
        </li>
        <li>
          <%= link_to("Paso Location", paso_path, data:{'display-title'=>'Appointments > Paso'}) %>
        </li>    
      </ul>
    </li>

    <li class='nav-link'>
      <%= link_to classes_path, data:{'display-title'=>'Class Schedule'} do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>classes</span>
      <% end %>
      <ul class='sub-links classes'>  
        <li>
          <%= link_to "classes", classes_path, data:{'display-title'=>'Classes'} %>
        </li>
      </ul>
    </li>    

    <li class='nav-link'>
      <%= link_to workshops_path, data:{'display-title'=>'Workshops'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>workshops</span>
      <% end %>
      <ul class='sub-links workshops'>  
        <li>
          <%= link_to "workshops", workshops_path, data:{'display-title'=>'Workshops'} %>
        </li>
      </ul>
    </li>   

   <li class='nav-link'>
      <%= link_to clients_path, data:{'display-title'=>'Clients'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>clients</span>
      <% end %>
      <ul class='sub-links clients'>  
        <li>
          <%= link_to "Clients", clients_path, data:{'display-title'=>'Clients'} %>
        </li>
      </ul>
    </li>               
              
    <li class='line'></li>

    <!--<span>SETTINGS</span>-->

    <li class='nav-link'>
      <%= link_to staff_path, data:{'display-title'=>'Staff'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>staff</span>
      <% end %>
      <ul class='sub-links staff'>  
        <li>
          <%= link_to "staff", staff_path, data:{'display-title'=>'Staff'} %>
        </li>
      </ul>
    </li> 

    <li class='nav-link'>
      <%= link_to services_path, data:{'display-title'=>'Services'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>services</span>
      <% end %>
      <ul class='sub-links services'>  
        <li>
          <%= link_to "Service", services_path, data:{'display-title'=>'Services'} %>
        </li>
      </ul>
    </li>

    <li class='nav-link'>
      <%= link_to products_path, data:{'display-title'=>'Products'}  do %>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>products</span>
      <% end %>
      <ul class='sub-links products'>  
        <li>
          <%= link_to "products", products_path, data:{'display-title'=>'Products'} %>
        </li>
      </ul>
    </li>

    <li class='nav-link has-sub business'>  
      <div class='menu-link'>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>my business</span>
      </div>       
      <ul class='sub-links'>
        <li>
          <span class="title">my business</span>
        </li>
        <li>
          <%= link_to("Reports", reports_path, data:{'display-title'=>'Reports'} ) %>
        </li>
        <li>
          <%= link_to("Automated SMS", sms_path, data:{'display-title'=>'Automated SMS'} ) %>
        </li>
        <li>
          <%= link_to("Automated Emails", email_path, data:{'display-title'=>'Automated Emails'} ) %>
        </li>
        <li>
          <%= link_to("Advanced Settings", settings_path, data:{'display-title'=>'Advanced Settings'} ) %>
        </li>    
      </ul>
    </li>
    
    <li class='line'></li>

    <li class='nav-link has-sub business'>       
      <div class='menu-link'>
        <i class='fa fa-calendar fa-lg nav-icon'></i>
        <span class='title'>MB admin</span>
      </div>
      <ul class='sub-links'>
        <li>
          <span class="title">MB admin</span>
        </li>
        <li>
          <%= link_to("Payment Processing", admin_payment_processing_path, 
              data:{'display-title'=>'Payment Processing'}) %>
        </li>
        <li>
          <%= link_to("UX Design Library", admin_design_library_path, data:{'display-title'=>'UX Design Library'}) %>
        </li>   
      </ul>
    </li>      

  <!-- <span id='nav-pin' name='nav-pin'></span>   -->          

  <!--   <i class='nav-toggle fa fa-angle-left fa-lg nav-icon'></i>   -->
</div>

