<!DOCTYPE html>
<!-- 
Hand-crafted quality by
   ______                     __  __     ____  __               
  / ____/___ ______________  / /_/ /_   / __ \/ /________  ____ 
 / / __/ __ `/ ___/ ___/ _ \/ __/ __/  / / / / / ___/ __ \/ __ \
/ /_/ / /_/ / /  / /  /  __/ /_/ /_   / /_/ / (__  ) /_/ / / / /
\____/\__,_/_/  /_/   \___/\__/\__/   \____/_/____/\____/_/ /_/ 
                                          
-->
<html>
	<head>
		<title>Lluminaire Salon</title>

		<%= stylesheet_link_tag    'application', media: 'all', 
		'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 
		'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<script src="js/my_first_tour.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-56845106-1', 'auto');
		  ga('send', 'pageview');
		</script>

	</head>

	<body class='load'>

	<%= render "layouts/nav_menu" %>

		<div id='main-content' class='shift-right'>

			<header id='top-bar'>  
				<h2 class='page-title'></h2>    
				
				<button type="button" id='checkout-btn' class="btn btn-default btn-lg checkout-icon">
				  <i class="fa fa-shopping-cart"></i>
				</button>
				
				<div class='vertical-divider'></div>

	      <div id='staff-name-wrapper' class=''>
	      <span id='staff-name'>Alyx Vance</span>   

		      <div class='dropdown'>
						<ul>
							<li>
							  <a>Edit Profile</a>
							</li> 
							<li>
							  <a>Support</a>
							</li>              
							<hr>
							<li>
							  <a href='login' class='logout-link'>Log Out</a>
							</li>
						</ul>
		       </div>
	  		</div>  

	  		<%= render "layouts/checkout_slider" %>	

			</header>

			<div class='content-frame-wrapper glance-view-visible'>
				<div id='responsive-tour-stop' class='container-fluid to-bottom content-frame'>
					<%= yield %>
				</div>

				<%= render "layouts/glance_menu" %>

			</div>

			<!-- http://codepen.io/swirlycheetah/pen/cFtzb -->
			<section id='nav-toggle-button' class="wrapper nav-toggle">
			  <section class="material-design-hamburger">
			    <button class="material-design-hamburger__icon">
			      <span class="material-design-hamburger__layer 
			      	material-design-hamburger__icon--to-arrow"></span>
			    </button>
			  </section>
			</section>
		
		</div>

		<script>

			// Retrieve last page state from local storage
			pageState = localStorage.getItem('page-state');

			// If pageState, add the page state as a class to #main-content
			// If pageState is null, the page will open with nav menu open
			if(pageState) {
				openSubmenuOnLoad = true;
			    $('#main-content').removeClass();
			    $('#main-content').addClass(pageState);

			    // On page load, assign nav menu states
			    if(pageState == 'nav-closed') {
			        $('#nav-menu').addClass('collapsed').css("width", "50px")
			        $('.material-design-hamburger__layer')
			            .removeClass('material-design-hamburger__icon--to-arrow');
			        $('.material-design-hamburger__layer')
			            .addClass('material-design-hamburger__icon--from-arrow');

			        navClosed = true;
			    }
			} else {
				
				localStorage.setItem('page-state', 'nav-open');
				$('body').removeClass('load');
				$('body').addClass('fade-in');

				hopscotch.startTour(tour);
			}
		</script>

	</body>
</html>
