<!DOCTYPE html>
<html>
	<head>
		<title>Lluminaire Salon</title>

		<%= stylesheet_link_tag    'application', media: 'all', 
		'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 
		'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		
	</head>

	<body>

	<%= render "layouts/nav_menu" %>

	<div id='main-content' class='shift-right'>

		<header id='top-bar'>  
			<h2 class='page-title'></h2>    
			
			<button type="button" class="btn btn-default btn-lg checkout-icon">
			  <i class="fa fa-shopping-cart"></i>
			</button>

	    	<div class='vertical-divider'></div> 

			<button type="button" class="btn btn-lg glance-schedule-icon active">
				<ul class='icon-wrapper' title="Schedule at a Glance">
					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>

					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>

					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>

					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>

					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>

					<li class='list-row'>
						<ul>
							<li class='dot'></li>
							<li class='icon-line'></li>
						</ul>
					</li>
				</ul>	
			</button>  
			
			<div class='vertical-divider'></div>

      <div id='staff-name-wrapper' class=''>
      <span id='staff-name'>Alyx Vance</span>   

	      <div class='dropdown'>
					<ul>
						<li>
						  <a>Edit Account</a>
						</li>
						<li>
						  <a>My Calendar</a>
						</li>  
						<li>
						  <a>Help Suite</a>
						</li>              
						<hr>
						<li>
						  <a>Log Out</a>
						</li>
					</ul>
	       </div>
  		</div>  

  		<%= render "layouts/checkout_slider" %>	

		</header>

		<div class='content-frame-wrapper glance-view-visible'>
			<div class='container-fluid to-bottom content-frame'>
				<%= yield %>
			</div>

			<%= render "layouts/glance_menu" %>

		</div>

		<!--The nav toggle icon appears positionally in the nav menu, but 
				the code is placed in the main-content HTML so that it slides 
				to and from position when the nav is opened and closed
		-->

		<div class='nav-toggle'>
			<i class="fa fa-bars fa-lg"></i>
		</div>
	
	</div>

	<%#= render "layouts/glance_menu" %>
	<%#= render "layouts/multi_menu" %>	
	
	</body>
</html>
